* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


.markers {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 15px;
}

.marker {
  /* height: 0px;
  width: 0px;
  margin-bottom: 10px;
  width: 0;
	height: 0;
	border-left: 16px solid transparent;
	border-right: 16px solid transparent;
	border-top: 25px solid #555; */
  height: 10px;
  border-width: 35px;
  border-style: solid;
  border-color: lightgrey transparent transparent;
  transform: scale(0.7);
}

.board-position {
  height: 50px;
  width: 50px;
  border: 1px solid gray;
  border-radius: 50%;
  margin-right: 10px;
  margin-bottom: 10px;
}

.board-positions{
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
}